.git
.env
vendor
node_modules
public/build
public/storage
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
docker-compose.yml
Dockerfile
.docker
install.sh
README.md
UAT_Report_and_Blueprint.pdf
